# Data Combing

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os

3. Importing Data

In [2]:
# Reading pkl fle

In [4]:
df = pd.read_pickle(r'C:\Users\rekha\OneDrive\Documents\Instacart Bascket Analysis\2. Data\prepared Data\orders_products_combined.pkl')

In [21]:
df_ords_combine = df = pd.read_pickle(r'C:\Users\rekha\OneDrive\Documents\Instacart Bascket Analysis\2. Data\prepared Data\orders_products_combined.pkl')

4. Checking outputs of Dataframe

In [22]:
df_ords_combine.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [7]:
path = r'C:\Users\rekha\OneDrive\Documents\Instacart Bascket Analysis'

In [8]:
path

'C:\\Users\\rekha\\OneDrive\\Documents\\Instacart Bascket Analysis'

In [15]:
df_ords_prods_combine.shape

(32434489, 11)

In [9]:
df = pd.read_csv(os.path.join(path, '2. Data', 'prepared Data', 'products_checked.csv'), index_col = False)

In [10]:
df_prods = df = pd.read_csv(os.path.join(path, '2. Data', 'prepared Data', 'products_checked.csv'), index_col = False)

In [16]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [11]:
df_prods.shape

(49672, 6)

5. Merge df_prods with df_ords_combine

In [19]:
#Drop unnamed columns in df_prods

df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [24]:
#Drop unnamed columns in df_ords_combined

df_ords_combine = df_ords_combine.drop(columns = ['Unnamed: 0', '_merge'])

In [1]:
#Merge df_prods and df_ords_combined

df_merged = df_prods.merge(df_ords_combine, on = 'product_id', indicator = True)

NameError: name 'df_prods' is not defined

6. conform the results using merge flage

In [27]:
df_merged

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,49688,Fresh Foaming Cleanser,73,11,13.5,1788356,200215,2,0,9,5.0,27,0,both
32404855,49688,Fresh Foaming Cleanser,73,11,13.5,3401313,200377,1,4,11,NaN,5,0,both
32404856,49688,Fresh Foaming Cleanser,73,11,13.5,809510,200873,5,3,8,15.0,12,0,both
32404857,49688,Fresh Foaming Cleanser,73,11,13.5,2359893,200873,9,3,15,5.0,11,1,both
32404858,49688,Fresh Foaming Cleanser,73,11,13.5,2385091,205926,11,1,15,6.0,35,0,both

In [28]:
df_merged.shape

(32404859, 14)

In [29]:
df_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

7. Exporting File.

In [30]:
#Export orders_products_merged file

df_merged.to_pickle(os.path.join(path, '2. Data', 'Prepared Data', 'orders_products_merged.pkl'))