In [3]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Reading pkl file

In [20]:
df = pd.read_pickle(r'C:\Users\rekha\OneDrive\Documents\Instacart Bascket Analysis\2. Data\prepared Data\orders_products_merged_New.pkl')

In [5]:
path = r'C:\Users\rekha\OneDrive\Documents\Instacart Bascket Analysis'

In [6]:
path

'C:\\Users\\rekha\\OneDrive\\Documents\\Instacart Bascket Analysis'

In [21]:
df = ords_prods_merged = df = pd.read_pickle(os.path.join(path, '2. Data', 'Prepared Data', 'orders_products_merged_New.pkl'))

In [25]:
df.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,Busiest_day,Busiest_days,Busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid_range_product,Regularly busy,Regularly busy,Most_orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid_range_product,Regularly busy,Regularly busy,Averagr_orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid_range_product,Busiest day,Busiest days,Averagr_orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,Mid_range_product,Regularly busy,Slowest days,Most_orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid_range_product,Least busy,Slowest days,Averagr_orders

In [26]:
df.shape

(35, 18)

In [34]:
# Creating Subset 

df = ords_prods_merged[:1000000]

In [35]:
df.shape

(1000000, 18)

In [38]:
# Grouping Data

df.groupby('product_name')

In [41]:
# Aggrigated mean for subset 

df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.577493
2                17.320781
3                16.084944
4                17.530458
5                14.763075
6                16.658449
7                17.031590
8                15.076662
9                15.447580
10               18.681852
11               15.447411
12               14.327957
13               16.548642
14               16.960241
15               16.121948
16               17.803851
17               15.593633
18               19.674252
19               16.899756
20               16.255442
21               25.535479

In [50]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                15.577493   1  99
2                17.320781   1  96
3                16.084944   1  99
4                17.530458   1  99
5                14.763075   1  99
6                16.658449   1  99
7                17.031590   1  99
8                15.076662   1  98
9                15.447580   1  99
10               18.681852   1  99
11               15.447411   1  99
12               14.327957   1  99
13               16.548642   1  99
14               16.960241   1  99
15               16.121948   1  99
16               17.803851   1  99
17               15.593633   1  99
18               19.674252   1  99
19               16.899756   1  99
20               16.255442   1  99
21               25.535479   1  98

In [51]:
ords_prods_merged['max_order'] = ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\rekha\AppData\Local\Temp\ipykernel_16252\3299225553.py:1: FutureWarning: The provided callable <function amax at 0x00000224EB2F1C60> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merged['max_order'] = ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [70]:
ords_prods_merged.head(100)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,Busiest_day,Busiest_days,Busiest_period_of_day,max_order,loyalty_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid_range_product,Regularly busy,Regularly busy,Most_orders,32,Regular customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid_range_product,Regularly busy,Regularly busy,Averagr_orders,32,Regular customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid_range_product,Busiest day,Busiest days,Averagr_orders,5,New customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,Mid_range_product,Regularly busy,Slowest days,Most_orders,3,New customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid_range_product,Least busy,Slowest days,Averagr_orders,3,New customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,Chocolate Sandwich Cookies,61,19,5.8,602103,10831,8,3,11,23.0,5,0,both,Mid_range_product,Regularly busy,Slowest days,Most_orders,10,New customer
96,1,Chocolate Sandwich Cookies,61,19,5.8,49629,11119,18,1,14,30.0,1,0,both,Mid_range_product,Regularly busy,Busiest days,Most_orders,23,Regular customer
97,1,Chocolate Sandwich Cookies,61,19,5.8,317888,11186,13,5,16,2.0,8,0,both,Mid_range_product,Regularly busy,Regularly busy,Most_orders,26,Regular customer
98,1,Chocolate Sandwich Cookies,61,19,5.8,682486,11243,16,3,13,0.0,2,0,both,Mid_range_product,Regularly busy,Slowest days,Most_orders,43,Loyal customer
99,1,Chocolate Sandwich Cookies,61,19,5.8,2861386,11448,10,2,15,3.0,6,0,both,Mid_range_product,Regularly busy,Regularly busy,Most_orders,21,Regular customer

In [71]:
# To display the 100 rows of data

pd.options.display.max_rows = None

In [ ]:
ords_prods_merged.head(100)

In [48]:
# creating loyalty_flag 

ords_prods_merged.loc[ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merged.loc[(ords_prods_merged['max_order'] <= 40) & (ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merged.loc[ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [68]:
# Frequency count of loyalty_flag column 

ords_prods_merged['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [65]:
ords_prods_merged['loyalty_flag']

0           Regular customer
1           Regular customer
2               New customer
3               New customer
4               New customer
                  ...
32404854        New customer
32404855        New customer
32404856    Regular customer
32404857    Regular customer
32404858    Regular customer
Name: loyalty_flag, Length: 32404859, dtype: object

# Task 4.7

In [28]:
df = ords_prods_merged

In [64]:
ords_prods_merged.shape

(32404859, 20)

In [29]:
ords_prods_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,Busiest_day,Busiest_days,Busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid_range_product,Regularly busy,Regularly busy,Most_orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid_range_product,Regularly busy,Regularly busy,Averagr_orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid_range_product,Busiest day,Busiest days,Averagr_orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,Mid_range_product,Regularly busy,Slowest days,Most_orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid_range_product,Least busy,Slowest days,Averagr_orders

# 2. Que

In [32]:
# Finding Aggrigated mean for entair datafarme

ords_prods_merged.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

# 3. Que

The Overall the mean order numbers seem to be higher for each department when looking at the entire data frame.

# 4.Que

In [ ]:
# Use groupby and transform() functions with np.max argument to determine maximum order number for each user

In [60]:
#Create Loyalty Flag for Exisiting Customers


ords_prods_merged['max_order'] = ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\rekha\AppData\Local\Temp\ipykernel_16252\2678264557.py:4: FutureWarning: The provided callable <function amax at 0x00000224EB2F1C60> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merged['max_order'] = ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [56]:
ords_prods_merged.head(15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,Busiest_day,Busiest_days,Busiest_period_of_day,max_order,loyalty_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid_range_product,Regularly busy,Regularly busy,Most_orders,32,Regular customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid_range_product,Regularly busy,Regularly busy,Averagr_orders,32,Regular customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid_range_product,Busiest day,Busiest days,Averagr_orders,5,New customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,Mid_range_product,Regularly busy,Slowest days,Most_orders,3,New customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid_range_product,Least busy,Slowest days,Averagr_orders,3,New customer
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.0,7,0,both,Mid_range_product,Regularly busy,Busiest days,Averagr_orders,26,Regular customer
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,30.0,2,0,both,Mid_range_product,Regularly busy,Regularly busy,Most_orders,9,New customer
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,30.0,1,0,both,Mid_range_product,Regularly busy,Slowest days,Most_orders,12,Regular customer
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,19.0,1,0,both,Mid_range_product,Regularly busy,Busiest days,Averagr_orders,20,Regular customer
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,15.0,2,1,both,Mid_range_product,Regularly busy,Busiest days,Most_orders,20,Regular customer
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,1,5,11,NaN,1,0,both,Mid_range_product,Regularly busy,Regularly busy,Most_orders,10,New customer
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,7.0,1,0,both,Mid_range_product,Regularly busy,Slowest days,Most_orders,43,Loyal customer
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,7.0,3,1,both,Mid_range_product,Least busy,Slowest days,Most_orders,43,Loyal customer
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,12.0,4,1,both,Mid_range_product,Regularly busy,Regularly busy,Most_orders,43,Loyal customer
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,2.0,8,0,both,Mid_range_product,Regularly busy,Slowest days,Most_orders,13,Regular customer

In [61]:
# Creating loyalty_flag of exinsting customers with loc() 


ords_prods_merged.loc[ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merged.loc[(ords_prods_merged['max_order'] <= 40) & (ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merged.loc[ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [67]:
ords_prods_merged['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

# 5.Que

In [69]:
ords_prods_merged.groupby('loyalty_flag').agg({'prices' : ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

The average price of a product purchased by a new customer is about $3 more than that of a loyal customer.

# 6. Que

In [73]:
# Use transform() to determine the mean price of products purchased by each user

ords_prods_merged['mean_product_price'] = ords_prods_merged.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\rekha\AppData\Local\Temp\ipykernel_16252\4639623.py:3: FutureWarning: The provided callable <function mean at 0x00000224EB2F2980> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merged['mean_product_price'] = ords_prods_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [74]:
ords_prods_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,add_to_cart_order,reordered,_merge,price_range_loc,Busiest_day,Busiest_days,Busiest_period_of_day,max_order,loyalty_flag,mean_product_price
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,5,0,both,Mid_range_product,Regularly busy,Regularly busy,Most_orders,32,Regular customer,6.935811
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,1,both,Mid_range_product,Regularly busy,Regularly busy,Averagr_orders,32,Regular customer,6.935811
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,20,0,both,Mid_range_product,Busiest day,Busiest days,Averagr_orders,5,New customer,7.930208
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,10,0,both,Mid_range_product,Regularly busy,Slowest days,Most_orders,3,New customer,4.972414
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,11,1,both,Mid_range_product,Least busy,Slowest days,Averagr_orders,3,New customer,4.972414

In [75]:
# Creating spending flag with loc() by product_mean 

ords_prods_merged.loc[ords_prods_merged['mean_product_price'] < 10, 'spending_flag'] = 'Low spender'
ords_prods_merged.loc[(ords_prods_merged['mean_product_price'] >= 10), 'spending_flag'] = 'High spender'

In [80]:
ords_prods_merged.head(20)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,reordered,_merge,price_range_loc,Busiest_day,Busiest_days,Busiest_period_of_day,max_order,loyalty_flag,mean_product_price,spending_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,0,both,Mid_range_product,Regularly busy,Regularly busy,Most_orders,32,Regular customer,6.935811,Low spender
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,both,Mid_range_product,Regularly busy,Regularly busy,Averagr_orders,32,Regular customer,6.935811,Low spender
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,0,both,Mid_range_product,Busiest day,Busiest days,Averagr_orders,5,New customer,7.930208,Low spender
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,0,both,Mid_range_product,Regularly busy,Slowest days,Most_orders,3,New customer,4.972414,Low spender
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,1,both,Mid_range_product,Least busy,Slowest days,Averagr_orders,3,New customer,4.972414,Low spender
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,...,0,both,Mid_range_product,Regularly busy,Busiest days,Averagr_orders,26,Regular customer,6.935398,Low spender
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,...,0,both,Mid_range_product,Regularly busy,Regularly busy,Most_orders,9,New customer,5.957576,Low spender
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,...,0,both,Mid_range_product,Regularly busy,Slowest days,Most_orders,12,Regular customer,6.680000,Low spender
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,...,0,both,Mid_range_product,Regularly busy,Busiest days,Averagr_orders,20,Regular customer,7.162500,Low spender
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,...,1,both,Mid_range_product,Regularly busy,Busiest days,Most_orders,20,Regular customer,7.162500,Low spender
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,1,5,11,...,0,both,Mid_range_product,Regularly busy,Regularly busy,Most_orders,10,New customer,5.813636,Low spender
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,...,0,both,Mid_range_product,Regularly busy,Slowest days,Most_orders,43,Loyal customer,5.081633,Low spender
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,...,1,both,Mid_range_product,Least busy,Slowest days,Most_orders,43,Loyal customer,5.081633,Low spender
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,...,1,both,Mid_range_product,Regularly busy,Regularly busy,Most_orders,43,Loyal customer,5.081633,Low spender
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,...,0,both,Mid_range_product,Regularly busy,Slowest days,Most_orders,13,Regular customer,6.803797,Low spender
15,1,Chocolate Sandwich Cookies,61,19,5.8,186761,1494,7,2,8,...,1,both,Mid_range_product,Regularly busy,Regularly busy,Averagr_orders,13,Regular customer,6.803797,Low spender
16,1,Chocolate Sandwich Cookies,61,19,5.8,317121,1494,9,5,8,...,1,both,Mid_range_product,Regularly busy,Regularly busy,Averagr_orders,13,Regular customer,6.803797,Low spender
17,1,Chocolate Sandwich Cookies,61,19,5.8,200390,1540,4,2,0,...,0,both,Mid_range_product,Regularly busy,Regularly busy,Fewest_orders,28,Regular customer,6.607122,Low spender
18,1,Chocolate Sandwich Cookies,61,19,5.8,374436,1540,5,1,21,...,1,both,Mid_range_product,Regularly busy,Busiest days,Averagr_orders,28,Regular customer,6.607122,Low spender
19,1,Chocolate Sandwich Cookies,61,19,5.8,2920553,1540,6,1,0,...,1,both,Mid_range_product,Regularly busy,Busiest days,Fewest_orders,28,Regular customer,6.607122,Low spender

In [79]:
#Check frequency of new spending_flag column

ords_prods_merged['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     31770614
High spender      634245
Name: count, dtype: int64

# 7. Que

In [81]:
# Determing order frequency of users 

ords_prods_merged['median_days_between_orders'] = ords_prods_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\rekha\AppData\Local\Temp\ipykernel_16252\3462379978.py:3: FutureWarning: The provided callable <function median at 0x00000224EB433920> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merged['median_days_between_orders'] = ords_prods_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [85]:
# Creating frequency flag with loc()

ords_prods_merged.loc[ords_prods_merged['median_days_between_orders'] > 20, 'frequency_flag'] = 'Non-frequent customer'
ords_prods_merged.loc[(ords_prods_merged['median_days_between_orders'] > 10) & (ords_prods_merged['median_days_between_orders'] <= 20), 'frequency_flag'] = 'Regular customer'
ords_prods_merged.loc[ords_prods_merged['median_days_between_orders'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [86]:
ords_prods_merged.head(20)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,price_range_loc,Busiest_day,Busiest_days,Busiest_period_of_day,max_order,loyalty_flag,mean_product_price,spending_flag,median_days_between_orders,frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Mid_range_product,Regularly busy,Regularly busy,Most_orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Mid_range_product,Regularly busy,Regularly busy,Averagr_orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,Mid_range_product,Busiest day,Busiest days,Averagr_orders,5,New customer,7.930208,Low spender,8.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,Mid_range_product,Regularly busy,Slowest days,Most_orders,3,New customer,4.972414,Low spender,9.0,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,Mid_range_product,Least busy,Slowest days,Averagr_orders,3,New customer,4.972414,Low spender,9.0,Frequent customer
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,...,Mid_range_product,Regularly busy,Busiest days,Averagr_orders,26,Regular customer,6.935398,Low spender,11.0,Regular customer
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,...,Mid_range_product,Regularly busy,Regularly busy,Most_orders,9,New customer,5.957576,Low spender,20.0,Regular customer
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,...,Mid_range_product,Regularly busy,Slowest days,Most_orders,12,Regular customer,6.680000,Low spender,6.0,Frequent customer
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,...,Mid_range_product,Regularly busy,Busiest days,Averagr_orders,20,Regular customer,7.162500,Low spender,10.0,Frequent customer
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,...,Mid_range_product,Regularly busy,Busiest days,Most_orders,20,Regular customer,7.162500,Low spender,10.0,Frequent customer
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,1,5,11,...,Mid_range_product,Regularly busy,Regularly busy,Most_orders,10,New customer,5.813636,Low spender,20.0,Regular customer
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,...,Mid_range_product,Regularly busy,Slowest days,Most_orders,43,Loyal customer,5.081633,Low spender,7.0,Frequent customer
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,...,Mid_range_product,Least busy,Slowest days,Most_orders,43,Loyal customer,5.081633,Low spender,7.0,Frequent customer
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,...,Mid_range_product,Regularly busy,Regularly busy,Most_orders,43,Loyal customer,5.081633,Low spender,7.0,Frequent customer
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,...,Mid_range_product,Regularly busy,Slowest days,Most_orders,13,Regular customer,6.803797,Low spender,7.0,Frequent customer
15,1,Chocolate Sandwich Cookies,61,19,5.8,186761,1494,7,2,8,...,Mid_range_product,Regularly busy,Regularly busy,Averagr_orders,13,Regular customer,6.803797,Low spender,7.0,Frequent customer
16,1,Chocolate Sandwich Cookies,61,19,5.8,317121,1494,9,5,8,...,Mid_range_product,Regularly busy,Regularly busy,Averagr_orders,13,Regular customer,6.803797,Low spender,7.0,Frequent customer
17,1,Chocolate Sandwich Cookies,61,19,5.8,200390,1540,4,2,0,...,Mid_range_product,Regularly busy,Regularly busy,Fewest_orders,28,Regular customer,6.607122,Low spender,7.0,Frequent customer
18,1,Chocolate Sandwich Cookies,61,19,5.8,374436,1540,5,1,21,...,Mid_range_product,Regularly busy,Busiest days,Averagr_orders,28,Regular customer,6.607122,Low spender,7.0,Frequent customer
19,1,Chocolate Sandwich Cookies,61,19,5.8,2920553,1540,6,1,0,...,Mid_range_product,Regularly busy,Busiest days,Fewest_orders,28,Regular customer,6.607122,Low spender,7.0,Frequent customer

In [87]:
#Check frequency of new frequency_flag column

ords_prods_merged['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
nan                             5
Name: count, dtype: int64

There seems to be rows that were not labeled. That means it could be that there are some users who have only ever made one order.

In [89]:
# Exporting pkl file

ords_prods_merged.to_pickle(os.path.join(path, '2. Data', 'Prepared Data', 'orders_products_merged_New_grouped.pkl'))